 name: Check for Free Epic Games

 on:
   schedule:
     - cron: "15 4,5 * * *"

permissions:
    contents: read

jobs:
    lint:
        name: Start
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
              with:
                  ref: ${{ github.event.pull_request.head.ref }}
                  repository: ${{ github.event.pull_request.head.repo.full_name }}

            - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
              with:
                  version: 10

            - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
              with:
                  node-version-file: .nvmrc

            - run: pnpm install

            - run: pnpm start
